sphinx
pydata-sphinx-theme
sphinx-copybutton
myst-parser
sphinxcontrib-mermaid
sphinx-git
sphinx-markdown-builder
sphinx-design
sphinx-autobuild
sphinx-hoverxref
sphinx-sitemap
sphinx-togglebutton
sphinx-favicon

