/* -- buttons -------------------------------------------------------------- */
button.copybtn {
	color: #708090;
	background-color: #708090;
}

/* -- icons -------------------------------------------------------------- */
i.fa-github:before {
	color: #181717;
}

i.fa-google-drive:before {
	color: #4285f4;
}

i.fa-magnifying-glass:before {
	color: #d64933;
}
/* -- version switcher --------------------------------------------------------------
Style all links with a specific subset of versions */
.version-switcher__container a[data-version="0.0.1"] {
	background-color: #d64933;
}

/* -- theme variables -------------------------------------------------------------- */
html {
	--pst-color-primary: #708090;
	--pst-color-secondary: #ffc71f;
	--pst-font-family-base: Open Sans, Verdana, var(--pst-font-family-base-system);
	--pst-font-family-heading: Open Sans, Cambria, Georgia, Times,
		var(--pst-font-family-base-system);
	--pst-font-family-monospace: Ubuntu Mono, Courier,
		var(--pst-font-family-monospace-system);
}

html[data-theme="light"] {
	--pst-color-primary: #21262b;
	--pst-color-secondary: #ffc71f;
}

html[data-theme="dark"] {
	--pst-color-primary: #d4d8dd;
	--pst-color-secondary: #ffc71f;
}

.bd-footer {
	width: 100%;
	background-color: #92a8d1;
	color: var(--pst-color-primary);
	display: flex;
	flex-direction: row;
	justify-items: end;
	align-items: center;
}

.footer-item {
	display: inline-block;
}

.footer-item:not(:last-child) {
	border-right: 1px solid var(--pst-color-text-base);
	margin-right: 0.5em;
	padding-right: 0.5em;
}

.welcome-image {
	padding: 1rem;
	width: 80%;
}

.wave {
	font-size: 2.5rem;
	animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s; /* Change to speed up or slow down */
	animation-iteration-count: infinite; /* Never stop waving :) */
	transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	} /* The following five values can be played with to make the waving more or less extreme */
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	} /* Reset for the last half to pause */
	100% {
		transform: rotate(0deg);
	}
}

.ball {
	font-size: 2rem;
	padding: 1rem 1rem 0 1rem;
	display: inline-block;
	transform-origin: 100% 100%;
	/* define css for ball drop and bounce until no energy left */
	animation-name: drop, bounce;
	animation-duration: 1s, 1s;
	animation-iteration-count: infinite, infinite;
	animation-timing-function: ease-in, ease-out;
	animation-fill-mode: forwards, forwards;
}

@keyframes drop {
	0% {
		transform: translateY(0) scaleY(1);
	}
	100% {
		transform: translateY(200%) scaleY(1);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0) scaleY(1);
	}
	10% {
		transform: translateY(0) scaleY(1);
	}
	30% {
		transform: translateY(-25%) scaleY(1.1);
	}
	50% {
		transform: translateY(0) scaleY(1);
	}
	57% {
		transform: translateY(-10%) scaleY(1.1);
	}
	64% {
		transform: translateY(0) scaleY(1);
	}
	100% {
		transform: translateY(0) scaleY(1);
	}
}

/* max width display mod*/
.bd-content {
	flex-grow: 1;
	max-width: 100%;
}
.bd-navbar {
}
.logo {
	width: 100%;
	height: auto;
	padding: 0.5rem;
}
.logo:hover {
	background-color: #92a8d1;
}
/* .logo:after {
	color: inherit;
	content: "NBA Database";
	font-family: Open Sans;
	font-weight: 800;
	font-style: normal;
	font-size: 1.5rem;
} */
.nav-internal {
	font-weight: 700;
}
.nav-internal:hover {
	background-color: #92a8d1;
}
.sd-card-img-top {
	height: 50%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
}
.std-ref {
	color: #bb2649;
	text-decoration: underline;
}

.std-ref:after {
	color: inherit;
	content: " \f08e";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
}
.sd-card > a > .std-ref {
	color: inherit;
}
.sd-card > a > .std-ref:after {
	color: inherit;
	content: "";
}
.search-button__button {
	font-size: 1.5rem;
}
.search-button__button:hover {
	font-size: 1.8rem;
}
.theme-switch {
	font-size: 1.5rem;
}
.theme-switch:hover {
	font-size: 1.8rem;
}
.icon-link-image {
	font-size: 1.2rem;
}
.icon-link-image:hover {
	font-size: 1.5rem;
}
.fa-square-github {
	color: #181717;
	font-size: 1.85rem;
}
.fa-square-github:hover {
	font-size: 2.15rem;
}

hr {
	overflow: visible; /* For IE */
	padding: 0;
	border: none;
	border-top: medium double #333;
	color: inherit;
	text-align: center;
	text-justify: center;
}

hr:before {
	/* Not really supposed to work, but does */
	content: "🏀";
	display: inline-block;
	position: relative;
	top: -1.35rem;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: inherit;
}

blockquote {
	border-left: 0.5rem solid #92a8d1;
}

p > a {
	color: #bb2649;
	text-decoration: underline;
}

p > .std-ref {
	color: #bb2649;
	text-decoration: underline;
}
p > .std-ref:after {
	color: inherit;
	content: "";
}

li > a > span > .std-ref {
	color: black;
}

li > a > .std-ref:after {
	color: inherit;
	content: "";
}

h1 > a > .std-ref:after {
	color: inherit;
	content: "";
}

h1 > .std-ref:after {
	color: inherit;
	content: "";
}

.fa-github {
	color: black;
	font-size: 1.5rem;
}

.nav-link > .svg-inline--fa.fa-xl {
	padding-left: 0.25rem;
	font-size: 1.5rem;
}
